* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: #d82626;
    width: 100%;
    grid-column: 1 / -1;
    grid-area: header;
}

#lista {
    background-color: rgba(255, 27, 27, 0.699);
    text-align: center;
    padding: 1em;
    grid-area: lista;
}

#imagen {
    background-color: rgba(255, 27, 27, 0.699);
    text-align: center;
    padding: 1em;
    grid-area: imagen;
}

footer {
    background-color: rgba(255, 27, 27, 0.699);
    padding: 1em;
    text-align: center;
    grid-column: 1 / -1;
    grid-area: footer;
}

footer a {
    color: black;
}

#emote {
    background-color: rgba(255, 27, 27, 0.699);
    padding: 1em;
    text-align: center;
    grid-area: emote;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header"
                         "lista imagen"
                         "footer footer"
                         "emote emote";
    gap: 2em;
}

body {
    background-color: rgba(165, 112, 42, 0.829);
}